/*
***************************************************************************************************************************************   
*          |                                                                                                                          *    
*          |                           WDD11 - HTML5/CSS3 Capstone Project                                                            *    
*     ▐  ▐ | ▌  ▌                                                                                                                     *        
*     ▐▌ █▐█▌█ ▐▌                                    April 22, 2022                                                                   *   
*     █▄▀▄███▄▀▄█                                                                                                                     *   
*      ▄  ███▌ ▄                                     Lau Ka Chun                                                                      *   
*    ▄▀ █▀███▀█ ▀▄                                                                                                                    *     
*    ▐▌▐ ▐▌ ▐▌ ▌▐▌                                                                                                                    *     
*     ▐ ▐     ▌ ▌                                         ..... .                                                           ...       *     
*                                                    .."":     : ".                                                  .""""": : :      *        
*                                                  ."    :      :  :                                             ..."4  :  : : :      *    
*                                                ..:     .:....":"" :                                           :---.$  :  : : ".     *    
*                                               :  : ..." :     :    :                                          :--..$..:$$$": : :    *    
*                                              :   .".     :    :     :                                         :---.:  :  : : : "    *    
*                                             :  ."  ".   .:.""":""..":                                         ".--.:  :  : : :".    *    
*                                             :.".     :."  :   :   : d:                                        : --.$..:.."": :  :   *    
*                                             :   ". ." :   :...:  ."d$:                                         "&$$$  :  : : : ."   *    
*                                             :  ." ".  .:"" :  :"":d$$":                                         :: :  :  : : ::     *    
*                                              :p,.   ":" ". :  : d$$P  ;                                        : : :..:.$$.: :".    *    
*                                              :$$$$p."".  ":-:":d$$P   :                                    .....": :  :  :  ": :    *    
*                                              :$$"$$$$$p:--:-:-:$$P   :                                   d$$$$"  : "..:  : : :"     *    
*                                              "$:   "c$$$$p:.:.$$:   d:   ...              ...d&&&&$$D. d$$$$$ :."".:  """$"  :      *    
*                                               :$p     c$$$: : $$$D d$:""":  """..     .d&&&&&&&&$$$$$$$&$$$" ." :."$. "..": :       *    
*             ..                                 :$p     :$$:.-:d$$$$$$:   :   :  :"".d&&&&&&&&&&&&&$$$$$&&$$." : :  $$D :  ::        *    
*          . : :":"..                            ".$$..$$$$P: ..:""$$$$... :   :  :  d&&$&&&&&&&&&$$$$$$$$$$$ : ." ".. $$$$:"         *    
*        .".": : : : :                            :$$$$$$P"":"  : ... :   ------...:&&$$$&&$$$&&$$$$$$$$$$$$$ :" ". :".:$ :           *    
*        :.'-.:: : :."                            .:$$$$P.  :."":"   ":.  :    :  d$$$$$$$$$$$$$$$$$$$$$$$$$$"".  ."".d$".:           *    
*      .".'-..""".:"                           .." :"". : "":    :."".. --..   : d$$$$$$$$$$$$$$$$$$$$$$$$$$$.  ":   d$".."           *    
*      :.'-.."-.  :..                       .:".: .".. :.   :  ...:  " -.   --..d$$$$$$$$$$$$$$$$$$$$$$$$&$$$$$.: """$".."            *    
*    .".'-..".  -.". "..                  ." :. ."."- $: "":.""   :."    "..   d$$$$$$$$$$$$$$$$$&&$$$$$&&$$$$$$$..  $ ."             *    
*   ."._-..".'-..".'-." ":              .":."..."-:-."$$$. :      ::        ".d$$$$$&&$$$$$$$$$&&&$$$$$&&$$$$$$$$$$"  ."              *    
*   :.  -.  '-..".'-.:".:             .": : .":"-:" :  $$$$$......" ". .    .$$$$$$$&&&&$$$$$&&&$$$$$$$&$$$$$$$$$$$.""                *    
*   ".:..'-.  .".'-..". ".          .:  ." :-."  $-.:  $$$$$$$$$$$".  : ".."d$$$$$$$$$$&&&$$$$$$$$$$$$$p"'  "                         *    
*                                                                                                                                     *     
***************************************************************************************************************************************    
*/

/*print style*/

*{
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

#wrapper{
   width: 100%;
}

#wrapper header,
#wrapper #content{ 
  background-color: white;
}

nav #hamburgerMenu,
#wrapper #slideImages,
.newsContainer img,
#trainImgContainer img,
#wrapper footer{
  display: none;
}

#wrapper #content #subsBox{
  background-image: none;
  
}

#wrapper #content #subsBox p,
.newsTitle{
  color: #5e5c59;
  text-shadow: none;
}
